<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Robert Ohly">
        <title>CryptDrive Registration</title>
        <script src="/js/activationCode.js" defer></script>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <h1>CryptDrive</h1>
        <form id="form">
            <fieldset>
                <legend>Activation Code</legend>
                <label for="code">Your Code</label><br>
                <input id="code" type="text" required><br><br> <!--Auto submit when 6 characters are entered-->
                <button id="resendEmail" type="button" title="Please don't spam me">Resend Email</button>
            </fieldset>
        </form>
    </body>
</html>