<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Robert Ohly">
        <title>CyptDrive Edit Password</title>
        <script src="/js/addPassword.js" defer></script>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <h1>CyptDrive Edit Password</h1>
        <form id="newPasswordForm">
        <fieldset>
            <legend>Add Password</legend>

            <label for="newUrl">URL</label>
            <input id="newUrl" type="url" placeholder="https://example.com" size="128" required><br>

            <label for="newUser">Username</label>
            <input id="newUser" type="text" placeholder="abc@email.com" size="128" required><br>

            <label for="newPassword">Password</label>
            <input id="newPassword" type="password" size="128">
            <button id="passwordPeek" type="button" title="Reveal Password">👁</button><br>

            <label for="newTag">Add Tag</label>
            <input id="newTag" type="text" title="Press enter to add"><br>
            <div class="tagContainer" id="newTags"></div><br>

            <label for="newNote">Note</label><br>
            <textarea id="newNote" rows="3" placeholder="Optional note..."></textarea><br>

            <input type="submit" value="Add Password">
        </fieldset>
    </form>
    </body>
</html>