<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CyptDrive Dash</title>
        <script src="js/dashboard.js" defer></script>
        <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
        <h1>CryptDrive</h1>
        <h2>Password Keeper</h2>
        <div>
            <button>Add Password</button>
        </div>
        <div id="passwordContainer">
        </div>
        <h2>File Keeper</h2>

    </body>
</html>