<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Robert Ohly">
        <title>CyptDrive Edit Password</title>
        <script src="/js/editPassword.js" defer></script>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <h1>CyptDrive Edit Password</h1>
        <form id="addPasswordForm">
        <fieldset>
            <legend>Edit Password</legend>

            <label for="savedUrl">URL</label>
            <input id="savedUrl" type="url" placeholder="https://example.com" size="128" required><br>

            <label for="savedUser">Username</label>
            <input id="savedUser" type="text" placeholder="abc@email.com" size="128" required><br>

            <label for="savedPassword">Password</label>
            <input id="savedPassword" type="password" size="128">
            <button id="passwordPeek" type="button" title="Reveal Password">👁</button><br>

            <label for="savedTag">Add Tag</label>
            <input id="savedTag" type="text" title="Whitespace Delimited">
            <div class="tagContainer" id="savedTags"></div><br>

            <label for="savedNote">Note</label><br>
            <textarea id="savedNote" rows="3" placeholder="Optional note..."></textarea><br>

            <input type="submit" value="Save">
        </fieldset>
    </form>
    </body>
</html>