<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Robert Ohly">
        <title>CyptDrive File Repository</title>
        <script src="/js/fileRepository.js" defer></script>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <h1>CyptDrive File Repository</h1>
    </form>
    </body>
</html>