<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CyptDrive Dash</title>
        <script src="js/homePage.js" defer></script>
        <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
        <%- include('components/nav') %>
    </body>
</html>