<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Robert Ohly">
        <title>CyptDrive Home</title>
        <script src="/js/homePage.js" defer></script>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <%- include('components/nav') %>

        <h1>CyptDrive Home</h1>
        <h2>About</h2>
        <p>This program is dedicated to providing secure password and file storage</p>
        <p>This program was developed by Robert Ohly and Michael Dagher for the Algonquin College Entrepreneurship (26W_MGT0114_300) Course</p>
        <button onclick="window.open('https://github.com/ohly0001/CryptDrive.git', '_blank');">🔗 Github Repository</button>
        <h2>Security Tips</h2>
        <div id="tipsSection"></div>
    </body>
</html>