<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CyptDrive Password Vault</title>
        <script src="js/passwordVault.js" defer></script>
        <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
        <h1>CyptDrive Password Vault</h1>
        <form>
            <fieldset>
                <legend>Add Password</legend>
                <label for="savedUrl">URL</label><br>
                <input id="savedUrl" type="url" placeholder="https://example.com" size="30" required><br><br>
                <label for="savedUser">Username</label><br>
                <input id="savedUser" type="email" placeholder="abc@email.com" required><br><br>
                <label for="savedPassword">Password</label><br>
                <input id="savedPassword" type="text"><br><br>
                <input type="submit" value="Save">
            </fieldset>
        </form>
        <form>
            <fieldset>
                <legend>Search for Passwords</legend>
                <input id="searchField" type="text" placeholder="Enter url or tag" title="Accepts Regex Patterns">
                <input type="submit">🔍</button>
            </fieldset>
        </form>
        <div id="passwordContainer"></div>
        <div id="passwordPagination">
            <p>Items per page</p>
            <select id="paginationSize">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
            <p id="paginationSlice">1-10 of 100 Passwords</p>
            <button id="firstPage" title="First Page">⏪</button>
            <button id="prevPage" title="Previous Page">⬅️</button>
            <input id="currentPageNumber" type="number" value="1" min="1">
            <p id="totalPages"> of 10</p>
            <button id="nextPage" title="Next Page">➡️</button>
            <button id="lastPage", title="Last Page">⏩</button>
        </div>
    </body>
</html>