/* Password Vault Page Styling */
body {
    padding: 30px 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f8fafc;
}

h1 {
    font-size: 32px;
    color: #1e3a8a;
    margin-bottom: 20px;
}

/* Buttons */
button {
    background: #1e3a8a;
    color: white;
    border: none;
    border-radius: 999px;
    padding: 8px 14px;
    margin: 4px 0;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #2563eb;
    transform: translateY(-1px);
}

/* Search Form */
#searchForm fieldset {
    border: 1px solid #cbd5e1;
}

.hidden {
    display: none;
}
.copy_options {
    border-radius: 25px;
    padding: 5px;
    background-color: #6a5acdee;
    position: absolute;
    left: 1px;
}
.copy_options button {
    display: block;
}
.password {
    border: 1px solid #cbd5e1;
}