div {
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.copy_options {
    position: absolute;
    left: 1px;
}
.copy_options button {
    display: block;
}