body {
    background-color: white;
    color: midnightblue;
}
button {
    color: white;
    background-color: midnightblue;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    border-color: unset;
}
button:hover {
    background-color: mediumblue;
}
fieldset {
    background-color: aliceblue;
}
div {
    padding: 5px;
}
.hidden {
    display: none;
}
.copy_options {
    background-color: slateblue;
    position: absolute;
    left: 1px;
}
.copy_options button {
    display: block;
}
#navBar {
    background-color: slateblue;
}
.searchTag {
    display: inline;
    border-radius: 50px;
    margin: 2px;
    padding: 5px 10px 5px 10px;
}
.tagContainer {
    display: inline;
    padding: 2px;
}